﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="defaultaspx.aspx.cs" Inherits="Web_Profile.defaultaspx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title> My CV </title>
    <link rel="Stylesheet" type = "text/css" href ="assets/bootstrap.css" />
</head>
<body>
    <form id="form1" runat="server">
    <h1> My CV </h1> 
    <p> Hello I m Abdullah Amjad.  </p>
    <div style = "font-size:12px; color:Yellow;"  >
    Whats going on here. 
    </div>

    <div  class = "container" >s

    </div>
    </form>
</body>
</html>
