﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Portfolio.aspx.cs" Inherits="Web_Profile.WebForm2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <title> My CV </title>
    <link rel="Stylesheet" type = "text/css" href ="assets/bootstrap.css" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h> PORTFOLIO </h>
    <br/> <br/>
    this is Portfolio.. :)
</asp:Content>
